{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="container flex-grow-1">

        <div class="jumbotron jumbotron-fluid">
            <div class="container pt-3">
                <h1 class="display-4">Bienvenue chez Stubborn</h1>
                <p class="lead pt-3 text-justify">La marque Stubborn est fière de vous présenter sa collection exclusive de sweat-shirts, alliant confort, style et qualité. Conçus pour refléter une attitude audacieuse et une personnalité affirmée, nos produits s'adressent à ceux qui n'ont pas peur de se démarquer.

Découvrez notre boutique en ligne, votre nouvelle destination pour explorer nos dernières créations, bénéficier d'offres spéciales et profiter d'une expérience d'achat simple et agréable. Chez Stubborn, chaque sweat-shirt raconte une histoire unique. Rejoignez-nous et exprimez votre individualité avec style !</p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100 shadow">
                        <img src="{{ product.image ? asset('uploads/' ~ product.image) : asset('images/load_placeholder.png') }}" class="card-img-top" alt="Product image">
                        <div class="card-footer d-flex justify-content-between p-3">
                            <div>
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">Prix : {{ product.price }} €</p>
                            </div>
                            {% if app.user %}   
                                <div class="d-flex flex-column justify-content-center">
                                    <a href="/product/{{ product.id }}" class="btn btn-warning">Voir</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    
{% endblock %}
