<header class="container d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom border-secondary border-opacity-50">
	<a href="{{ path('app_index') }}" class="d-flex flex-column align-items-left link-body-emphasis text-decoration-none">
		<img src="{{ asset('images/Logo.png') }}" width="150" alt="Logo Stubborn">
		<span class="fs-6">Don't compromise on your look</span>
	</a>
	<h1 class="border border-2 border-secondary border-opacity-50 font-weight-bold p-3">Back-Office</h1>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="{{ path('app_products') }}" class="nav-link">Boutique</a>
		</li>
		<li class="nav-item">
			<a href="\logout" class="nav-link">Se déconnecter</a>
		</li>
	</ul>
</header>
