{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block header %}
    {% include 'partials/admin_header.html.twig' %}
{% endblock %}

{% block body %}

    <main class="container flex-grow-1">
        {# FLASH MESSAGES #}
        <section>
            {% include 'partials/flash_messages.html.twig' %}
        </section>

        {# CREATE PRODUCT FORM #}
        <section class="mt-5 d-flex flex-row gap-4 bg-secondary bg-opacity-25 p-4">
            {% include 'partials/create_form.html.twig' %}
        </section>

        {# EDIT PRODUCT FORM #}
        <section class="d-flex flex-column gap-4 p-4 mt-5 bg-card-white ">
            {% for product in products %}
                {% include 'partials/edit_form.html.twig' %}
            {% endfor %}
        </section>
    </main>

    {% block javascripts %}        
        <script src="{{ asset('js/import-image.js') }}"></script>
    {% endblock %}
{% endblock %}
