<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ativar Conta</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    
    <h1 class="text-center">Activer votre compte Stubborn</h1>
    <p>Merci de vous être inscrit sur notre plateforme ! Cliquez sur le lien ci-dessous pour activer votre compte :</p>
    <div class="d-flex justify-content-center">
      <a href="{{ activationLink }}" class="btn btn-primary">Activer le compte</a>
    </div>
    <p class="footer">Si vous n'êtes pas encore inscrit sur notre plateforme, veuillez ignorer cet e-mail.</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


